html,
body {
    background-color: #fff;
    display: block;
}

body i,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navigationBar {
    display: flex;
    align-items: center;
    max-width: 1612px;
    height: 36px;
    margin: 0 auto;
    padding: 4px 10px 2px;
}

.readTitle {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}

.navRight {
    align-self: flex-start;
}

.navLeft {
    grid-column-start: 1;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.navCenter {
    flex: 1;
    align-self: flex-end;
    text-align: center;
}

.allContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3em;
}

.title {
    max-width: 500px;
    margin: 70px auto 40px;
}

.titleInfo {
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
}

.titleImg {
    max-width: 1200px;
    margin: 0 auto;
}

.cosmosImage {
    max-width: 100%;
}

.media {
    max-width: 600px;
    margin: 3em auto;
}

.socials {
    display: flex;
    align-items: center;
}

.socials p {
    width: 120px;
    margin-right: auto;
    font-size: 1.1em;
    font-weight: 400;
}

.socials i {
    font-size: 2em;
    margin-right: 15px;
    transition: 0.7s;
}

.socials i:hover {
    color: red;
}

.leftAside {
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 4;
}

.mainArticle {
    background-color: #ff0;
    grid-column-start: 4;
    grid-column-end: 10;
}

.rightAside {
    background-color: turquoise;
    grid-column-start: 10;
    grid-column-end: 15;
}

.subscribeBtn {
    padding: 10px 0px 10px 0px;
    width: 120px;
    max-height: 40px;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.signBtn {
    padding: 10px 0px 10px 0px;
    width: 60px;
    max-height: 40px;
    margin: 0px 10px;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.logoDimension {
    height: auto;
    width: 250px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
}

.content p {
    grid-column: 2;
    font-size: 20px;
    margin: 15px 0;
}

.bold {
    font-weight: bolder;
}

.content p a {
    text-decoration: underline;
    color: rgb(64, 64, 211);
    transition: .7s
}

.content p a:hover {
    text-decoration: none;
}

.unlock {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
}

.unlock hr {
    width: 60px;
    margin: 1.5em auto;
}

.unlock a {
    color: #326891;
}

.inflation {
    max-width: 945px;
    margin: 40px auto 0;
}

.infVid {
    height: 820px;
}

iframe {
    width: 100%;
}

.vid {
    max-width: 600px;
    margin: 1.5em auto;
}

.bicep {
    width: 100%;
    height: 350px;
}

.vid a:hover {
    text-decoration: underline;
}

.media2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media2 button {
    padding: 10px 5em;
    background-color: #6288a5;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.afterArticle1 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px 40px 0;
    display: grid;
    grid-template-columns: 2.65625fr 1fr;
    grid-column-gap: 30px;
}

.after1 {}

.after2 {}

.hot {}

.afterArticle2 {}

.newsHead {}

.menu {}


/* 


.moreCategory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.moreGrid {
    grid-column-start: 1;
    grid-column-end: 3;
}

*/


/* .moreDetails {
    width: 200px;
    height: 150px;
} */

.footer_area {
    width: 70%;
    float: left;
}

.footer_links {
    float: left;
    width: 20%;
}